{
  "presets": ["es2015"],
  "plugins": [
    "root-import"
  ],
  "env": {
    "test": {
      "presets": [
        ["es2015", { "modules": "umd" }]
      ],
      "plugins": ["istanbul"]
    }
  }
}
